@import "AppEnv.scss";

.app-navbar {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.app-navbar__top {
  width: 100%;
  height: $app-nav-bar-top-height;
  background: $app-color;
}

.app-navbar__title {
  height: $app-nav-bar-top-height;
  line-height: $app-nav-bar-top-height;
  padding: 0;
  margin: 0 auto;
  font-size: 105%;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  display: block;
}

.app-navbar__bottom {
  height: $app-nav-bar-btm-height;
  border-bottom: 1px solid $app-border-color;
  background: #fff;
}

.app-navbar__panel {
  height: 100%;
  padding-bottom: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.app-navbar__loc {
  width: 20%;
  margin-right: 1em;
}

.app-navbar__loc.app-navbar--warning {
  outline: 1px solid #e84747;
}

.app-navbar__date,
.app-navbar__time {
  width: 20%;
  min-width: 110px;
  margin-right: 0.5em;
}

.app-navbar__search {
  width: 66px;
  padding: 2px 0;
  color: #666;
}

.app-navbar__loc,
.app-navbar__date,
.app-navbar__time ,
.app-navbar__search {
  border: 1px solid #eee;
}
